.ChatRow {
  display: block;
  text-decoration: none;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(71, 79, 96, .375);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba(71, 79, 96, .125);
    cursor: pointer;
  }
}

.title {
  font-weight: 600;
  color: #474f60;
  margin-bottom: 5px
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
